.card {
  cursor: pointer;
  background-color: $card-bg;
  color: $color-white;
  box-shadow: 0 0 4rem #000;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 3rem;
  width: 30rem;
  transition: all 0.4s;
  z-index: 1;
  &:not(:last-child) {
    margin-right: -15rem;
  }

  &__title {
    font-size: 2.8rem;
    color: $color-title;
  }

  &__auther {
    margin-top: 7rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &-box {
      display: flex;
      flex-direction: column;
      align-self: stretch;

      justify-content: center;

      .name {
        font-size: 1.7rem;
        color: $color-author;
      }

      .date {
        font-size: 1.3rem;
        color: $color-author;
      }
    }
  }

  &__img-border {
    height: 8.5rem;
    width: 8.5rem;
    border-radius: 50%;
    position: relative;
    background: linear-gradient(to top, $gradient-1, $gradient-2);
    margin-right: 2rem;
    align-self: center;
  }

  &__photo {
    border: 3px solid transparent;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 8rem;
    width: 8rem;
    transform: translate(-50%, -50%);
    filter: brightness(80%);
  }

  &__article {
    font-size: 1.8rem;
    color: $color-font;
  }

  &:hover {
    transform: translateY(-4rem);
    transition: all 0.5s;
    margin-right: -2rem;
    margin-left: 0;
    z-index: 1;
  }

  &:hover > *,
  &:hover .name,
  &:hover .date {
    color: $color-title;
  }

  &:hover &__title {
    color: transparent;
    background: linear-gradient(to left, $gradient-1, $gradient-2);
    -webkit-background-clip: text;
  }
}
